*{
	padding: 0;
	margin: 0;
}
.content{
	position: absolute;
}
.page1{
	background: deepskyblue;
	position: relative;
}
.page2{
	background: green;
	position: relative;
}
.page3{
	background: deeppink;
	position: relative;
}
.page4{
	background: deepskyblue;
	position: relative;
}
.up{
	position: absolute;
	width: 20%;
	left: 40%;
	bottom: 3%;
	animation: updown 2s infinite;
}
@keyframes updown{
	50%{bottom: 5%;}
	100%{bottom: 3%;}
}

.musicbtn{
	position: absolute;
	right: 5%;
	top: 5%;
	width: 40px;
	height: 40px;
	animation: zhuan 2s infinite linear;
}
@keyframes zhuan{
	from{}
	to{
		transform: rotate(360deg);
	}
}

body{
	background: red;
}

/*第一页*/
.page1-title{
	position: absolute;
	width: 60%;
	left: 20%;
	top: 10%;
}
.page1-flower01,.page1-flower02{
	position: absolute;
	height: 15%;
	animation: huang 3s infinite;
}
@keyframes huang{
	25%{transform: rotate(30deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(-30deg);}
	100%{transform: rotate(0deg);}
}
.page1-flower01{
	left: 10%;
	top: 10%;
}
.page1-flower02{
	right: 10%;
	top: 15%;
}
.page1-cloudy{
	position: absolute;
	width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;
	animation: bigsmall 2s infinite;
}
.page1-element{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	animation: bigsmall 2s infinite;
}
@keyframes bigsmall{
	50%{transform: scale(0.9);}
	100%{transform: scale(1);}
}
.page1-building{
	position: absolute;
	height: 30%;
	width: 100%;
	bottom: 0;
	left: 0;
	display: none;
}
.page1-person{
	position: absolute;
	width: 0;
	left: 15%;
	bottom: 30%;
	animation: person 4s infinite;
}
@keyframes person{
	/*易企秀*/
	50%{transform: scale(1.2);}
	100%{
		transform: scale(1);
	}
}

/*第二页*/
/*.page2{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}*/
.page2 img{
	display: none;
}
.page2-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.page2-pass1{
	width: 70%;
	position: absolute;
	top: 20%;
	right: 0px;
}
.page2-pass2{
	width: 70%;
	position: absolute;
	top: 50%;
	left: 0px;
}

/*第三页*/
.page3-bg{
	position: absolute;
	width: 100%;
	height: 100%;
}
.page3-station{
	position: absolute;
	width: 100%;
	bottom: 0;
}
.page3-bus{
	position: absolute;
	width: 65%;
	bottom: 10%;
	left: 0;
}
.page3-me{
	position: absolute;
	height: 15%;
	bottom: 13%;
	right: 0px;
}
.page3-wall{
	position: absolute;
	width: 30%;
	height: 70%;
	bottom: 0;
	right: 0;
	display: none;
}
.page3-cry{
	position: absolute;
	width: 20%;
	right: 15%;
	bottom: 65%;
	display: none;
}
.page3-space{
	position: absolute;
	width: 0;
	left: 5%;
	top: 20%;
}
.page3-where{
	position: absolute;
	width: 0;
	left: 10%;
	bottom: 10%;
}

/*第四页*/
.page4-bg{
	position: absolute;
	width: 100%;
	height: 100%;
}
.page4-off{
	position: absolute;
	height: 70%;
	left: 5%;
	bottom: 0;
	/*层级*/
	z-index: 99;
}
.page4-title{
	position: absolute;
	width: 40%;
	right: 0;
	top: 15%;
}
.page4-click{
	position: absolute;
	width: 50%;
	left: 30%;
	bottom: 58%;
	animation: bigsmall 2s infinite;
}
@keyframes bigsmall{
	50%{transform: scale(1.2);}
	100%{transform: scale(1);}
}
.page4-onbg{
	position: absolute;	
	width: 100%;
	height: 100%;
	display: none;
}
.page4-wky{
	position: absolute;
	width: 50%;
	left: 25%;
	top: 30%;
	display: none;
}
